@import url(https://fonts.googleapis.com/css?family=Nunito);.example-modal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}

.example-modal .modal {
  background: transparent !important;
}

#userReview td,
#userReview th {
  border: none;
  border-bottom: 1px solid #888;
}

#userReview th {
  background: #3c8dbc;
  color: #fff;
}

#userReview tr:nth-child(odd) {
  background: lightskyblue;
}

#userReview tr:nth-child(even) {
  background: lightyellow;
}

.sp-n {
  font-size: 18px;
  font-weight: bold;
  color: #575757;
}

a {
  color: #fff;
}

.row-table {
  margin-top: 20px;
}

#userReview td,
#userReview th {
  border: none;
  border-bottom: 1px solid #888;
}

#userReview th {
  background: #f5cf67;
  color: #fff;
}

#userReview tr:nth-child(odd) {
  background: #fdeead;
}

#userReview tr:nth-child(even) {
  background: lightyellow;
}

.row-btn {
  margin-right: 3px;
  margin-bottom: 30px;
}

.btn {
  margin-left: 5px;
}

.sp-n {
  font-size: 18px;
  font-weight: bold;
  color: #575757;
}

a {
  color: #fff;
}

#userReview td,
#userReview th {
  border: none;
  border-bottom: 1px solid #888;
}

#userReview th {
  background: #f5cf67;
  color: #fff;
}

#userReview tr:nth-child(odd) {
  background: #fdeead;
}

#userReview tr:nth-child(even) {
  background: lightyellow;
}

.row-btn {
  margin-right: 3px;
  margin-bottom: 30px;
}

.btn {
  margin-left: 5px;
}

.sp-n {
  font-size: 18px;
  font-weight: bold;
  color: #575757;
}

a {
  color: #fff;
}

#userReview td,
#userReview th {
  border: none;
  border-bottom: 1px solid #888;
}

#userReview th {
  background: #f5cf67;
  color: #fff;
}

#userReview tr:nth-child(odd) {
  background: #fdeead;
}

#userReview tr:nth-child(even) {
  background: lightyellow;
}

.row-btn {
  margin-right: 3px;
  margin-bottom: 30px;
}

.btn {
  margin-left: 5px;
}

.sp-n {
  font-size: 18px;
  font-weight: bold;
  color: #575757;
}

a {
  color: #fff;
}

#data_table {
  /* width: 1000px; */
}

a {
  color: #fff;
}

.row-table {
  direction: rtl;
}

